#root {
  margin: auto;
  width: 50%;
}

.header {
  /* background-color: red;
  border-style: dotted;
  border-color: black; */
}

.shopTitle {
  /* background-color: white;
  border-style: dotted;
  border-color: black; */
}

.navbar {
  /* background-color: blue;
  border-style: dotted;
  border-color: black; */

}

.footer {
  /* background-color: yellow;
  border-style: dotted;
  border-color: black; */
}