#root {
  margin: auto;
  width: 50%;
}

.top-nav-title {
  position: fixed;
  margin: auto;
  bottom: 75%;
}

.header {
  /* background-color: red;
  border-style: dotted;
  border-color: black; */
}

.shopTitle {
  /* background-color: white;
  border-style: dotted;
  border-color: black; */
}

.navbar {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.nav-links {}

.footer {
  /* background-color: yellow;
  border-style: dotted;
  border-color: black; */
}

/* Product List Equipment Page */
.equipment-list {
  display: flex;

}