#root {
  margin: auto;
  width: 50%;
}

.top-nav-title {
  position: fixed;
  margin: auto;
  bottom: 75%;
}

.header {
  /* background-color: red;
  border-style: dotted;
  border-color: black; */
}

.shopTitle {
  /* background-color: white;
  border-style: dotted;
  border-color: black; */
}

.navbar {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.nav-links {}

.footer {
  /* background-color: yellow;
  border-style: dotted;
  border-color: black; */
}

/* Category List Page */
.CategoryList {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #472102;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #472102;
}

/* Register Page Styling */
.regbtn, .logbtn {
  background-color: #472102;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  justify-content: space-around;
}

.regbtn:hover, .logbtn:hover {
  background-color: black;
}

.register-form {
  justify-content: space-between;
  margin: auto;
  width: 50%;
}